
        <footer class="page-footer blue lighten-2 center">
          <div class="container">
            <div class="row nav2">
				<div class="col m4 s12">
				  <a href="#">
					<b>Blog</b>
				  </a>
				</div>
				<div class="col m4 s12">
				  <a href="#">
					<b>Wall of Fame</b>
				  </a>
				</div>
				<div class="col m4 s12">
				  <a href="#">
					<b>Showcase</b>
				  </a>
				  </div>
            </div></div>
          <div class="footer-copyright blue lighten-1">
            <div class="container">
			<div class="row">
			    <div class="col m6 s12 copyright">
					Created By
					<a class="black-text text-lighten-3" href="#">
						<b> UdaBuddy Team</b>
					</a>
					<span id="copy"> &copy;2018</span>
				</div>
					<div class="col m2 s12">
						<a class="black-text text-lighten-3" href="#">
							<b>About</b>
						</a>
					</div>
					<div class="col m2 s12">
						<a class="black-text text-lighten-3" href="#">
							<b>Developers</b>
						</a>
					</div>
					<div class="col m2 s12 ">
						<a class="black-text text-lighten-3" href="#">
							<b>Terms</b>
						</a>
					</div>
				</div>
            </div>
          </div>
        </footer>

  <!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/indexPage.js"></script>

</body>

</html>
