    <!DOCTYPE html>
    <html lang="en">

    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
      <title>UdaBuddy</title>
      <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
      <script src="/bower_components/firebaseui/dist/firebaseui.js"></script>
      <link type="text/css" rel="stylesheet" href="/bower_components/firebaseui/dist/firebaseui.css" />
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/css?family=Ubuntu|PT+Sans|Do+Hyeon|Varela+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
      <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    </head>

    <body class="light-blue lighten-5">

    	<header>
    		<nav class="light-blue lighten-1 navStyle" role="navigation">
    			<div class="nav-wrapper container">
    				<a id="logo-container" href="#" class="brand-logo"></a>
    				<ul class="right hide-on-med-and-down">
    				  <li>
    					<a href="#">Blog</a>
    				  </li>
              <li>
    					<a href="#">Wall of Fame</a>
    				  </li>
              <li>
    					<a href="#">Showcase</a>
    				  </li>
    				</ul>
    				<ul id="nav-mobile" class="sidenav">
    				  <li>
    					<a href="#">Blog</a>
    				  </li>
              <li>
    					<a href="#">Wall of Fame</a>
    				  </li>
              <li>
    					<a href="#">Showcase</a>
    				  </li>
    				</ul>
    				<a href="#" data-target="nav-mobile" class="sidenav-trigger">
    					<i class="material-icons">menu</i>
    				</a>
    			</div>
    		</nav>
    	</header>
